In [5]:
## variables primitivas
entero = 3
decimal = 1.1
nombre = "Ale"
segundo_nombre = 'Vane'
casada = False
estudiante = True
hijos = None
print(type(entero))  ##comentario con 2 espacios
print(type(decimal))
print(type(nombre))
print(type(segundo_nombre))
print(type(casada))
print(type(estudiante))
print(type(hijos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [14]:

# condicion Boolean
# Truty
# Falsy
tuplas = ()
listas = []
diccionarios = {}  ## basicamente es un json
print(type(tuplas))
print(type(listas))
print(type(diccionarios))

if("a"):
    print("Truty")
else:
    print("Falsy")

if(0):  #Falsy
    print("Truty")
else:
    print("Falsy")

if(1):  #Truty
    print("Truty")
else:
    print("Falsy")
if(0.00):  #Falsy
    print("Truty")
else:
    print("Falsy")
if(0.01):  #Truty
    print("Truty")
else:
    print("Falsy")
if(None):  #Falsy
    print("Truty")
else:
    print("Falsy")
if(()):  #falsy si es vacia
    print("Truty")
else:
    print("Falsy")
if([]):  #falsy si es vacia
    print("Truty")
else:
    print("Falsy")
if({}):  #falsy si es vacia
    print("Truty")
else:
    print("Falsy")
if((1,2)):  #Truty si es vacia
    print("Truty")
else:
    print("Falsy")
if(["a","b"]):  #Truty si es vacia
    print("Truty")
else:
    print("Falsy")
if({nombre: "ale"}):  #Truty si es vacia
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Truty
Falsy
Truty
Falsy
Truty
Falsy
Falsy
Falsy
Falsy
Truty
Truty
Truty

In [15]:

arreglo = [1,2,3,4,5,6,7,8,9,10]

In [16]:
arreglo [2]

3

In [27]:
arreglo[2:5]  #Filtrar ([2,5[)
arreglo[2:]  #Trae todo el indice 2 al final
arreglo[:7]  #trae todo el inicio hasta el 7
arreglo[-1]  #El ultimo
arreglo[2:-1]  #Filtrar ([2,-1[)
arreglo[-8:-1]  #Filtrar (3,4,5,6,7,8,9)
arreglo[:-2]  #1,2,3,4,5,6,7,8 SE PUEDE HACER UN MIX
arreglo[:]  #principio al fina√±

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
True

In [29]:
len(arreglo)

10

In [31]:
arreglo.append(11)
print(arreglo)
arreglo.pop()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

11

In [34]:
arreglo.insert(1,1.1)
arreglo.pop()

11

In [40]:
for numero in arreglo:
    print(numero)
    
contador = 0
while contador < 10:
    print(contador)
    contador +=1

1
1.1
1.1
1.1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

In [41]:
tupla_numeros = [1,2,3,4,5]
tupla_numeros

[1, 2, 3, 4, 5]

In [42]:
tupla_numeros[0:3]

[1, 2, 3]

In [43]:
len(tupla_numeros)

5

In [44]:
3 in tupla_numeros  #tuplas como constantes y listas como dinamicas

True

In [52]:
ale = {
    nombre: "ale",
    "apellido": 'macas',
    'edad': 26,
    "sueldo": 1.11,
    hijos: None,
    casada: False,
    "mascotas": [{nombre:"negro"}],
}
ale

{'Ale': 'ale',
 'apellido': 'macas',
 'edad': 26,
 'sueldo': 1.11,
 None: None,
 False: False,
 'mascotas': [{'Ale': 'negro'}]}

In [54]:
ale["apellido"] = "macas"

In [55]:
ale

{'Ale': 'ale',
 'apellido': 'macas',
 'edad': 26,
 'sueldo': 1.11,
 None: None,
 False: False,
 'mascotas': [{'Ale': 'negro'}]}

In [56]:
ale.keys()
ale.values()

dict_values(['ale', 'macas', 26, 1.11, None, False, [{'Ale': 'negro'}]])

In [58]:
"apellido" in ale.values()
"apellido" in ale.keys()

True

In [59]:
1 == 1 or 2 == 3  #True
1 == 1 and 2 == 3  #False

False