# Proyecto de 2 Bimestre

## Vehiculos ofertados en Mercado libre Ecuador

**Descripción:** Es un Dataset en formato **.csv**, que mediante el uso de scrapy se obtuvo el titulo del articulo, año, kilometraje, precio (valor), lugar (de venta)

### Objetivo

- Analizar y graficar la información del dataset vehiculo.csv

### Desarrollo

#### Selección y obtención de la fuente de datos

La data se obtuvo del sitio web [Mercado Libre](https://vehiculos.mercadolibre.com.ec/), solo los vehiculos para realizar el analisis posterior.

## Proceso

Mediante webscrapy se obtuvo los vehiculos que estan a la venta en en todo el pais ecuatoriano.

El código para esa parte se la puede encotrar en la carpeta ***04-scrapy/mercadolibre***:https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/tree/master/04%20-%20scrapy/mercadolibre/mercadolibre/mercadolibre. Mientras que la data esta en:
.[04 - scrapy/mercadolibre/mercadolibre/mercadolibre/vehiculo.csv del proyect](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/master/04%20-%20scrapy/mercadolibre/mercadolibre/mercadolibre/vehiculo.csv).

Con la herramienta de spyder se carga los datos obetenidos anteriormente, realizando lo siguiente:

- Limpieza de la data
- Se identifican las marcas de vehiculos
- Formato a los datos para posterior analizarlos

#### Librerias

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import nltk
import seaborn as sns

#### Pre-procesamiento

Para la lectura de los datos se relizo con el `pd.read_csv`, mientras que lo siguiente se dio formato a los datos para el valor (float) y el anio (int). Ademas se elimino los datos NAN con ***dropna()***.

In [ ]:
path_csv = "C:\\Users\\Estudiante\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\04 - scrapy\\mercadolibre\\mercadolibre\\mercadolibre\\vehiculo.csv"
data_frame_test = pd.read_csv(path_csv,  encoding = 'unicode_escape',sep = ";")
data_frame_test.dropna()
data_frame_test.dtypes
d = data_frame_test['titulo'].str.split(' ').str[0]
df = pd.DataFrame(d)
data_frame_test['marca'] = df
cols = data_frame_test.columns.tolist()
cols = cols[-1:] + cols[:-1]
data_frame_test = data_frame_test[cols]

Como titulo tenia tanto la marca y el modelo en una misma linea de la celda, se separo con el siguiente código

In [ ]:
d = data_frame_test['titulo'].str.split(' ').str[0]
df = pd.DataFrame(d)
data_frame_test['marca'] = df
cols = data_frame_test.columns.tolist()
cols = cols[-1:] + cols[:-1]
data_frame_test = data_frame_test[cols]

Verificar el tipo de los datos para usarlos correctamente:

    marca           object
    titulo          object
    valor          float64
    anio             int64
    kilometraje     object
    lugar           object
    dtype: object

El tamaño del dataset es:`(1205, 6)`

In [ ]:
print(data_frame_test.shape)

(1205, 6)

#### Procesamiento y analisis de datos.

**Las marcas más vendidas en ecuador**

Como se observa chevrolet es la marca que mas se vende en todo el Ecuador, seguido de Toyota.

In [ ]:
plt.figure(figsize=(10,8))
plt.title('Top 10 de marcas mas vendidas en Mercado libre')
data_frame_test['marca'].value_counts().plot(kind='bar')
plt.savefig("C:\\Users\\Estudiante\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\04 - scrapy\\mercadolibre\\mercadolibre\\mercadolibre\\Top 10 de marcas mas vendidas.jpg")
plt.show()

![Texto alternativo](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/master/04%20-%20scrapy/mercadolibre/mercadolibre/mercadolibre/Top%2010%20de%20marcas%20mas%20vendidas.jpg?raw=true)

    Chevrolet        338
    Toyota           111
    Hyundai           99
    Ford              84
    Kia               68
    Nissan            68
    Mazda             61
    Renault           59
    Volkswagen        41
    Mitsubishi        33
    Chery             27
    Suzuki            22
    Great             19
    Honda             17
    Citroën           16
    Jeep              16
    Fiat              15
    Skoda             13
    Mercedes-benz     11
    Daewoo            10
    Peugeot            9
    Chevier            8
    Ssangyong          7
    Bmw                6
    Jac                5
    International      4
    Byd                4
    Tianye             4
    Zotye              4
    Datsun             3
    Talbot             3
    Dongfeng           3
    Hino               1
    Volgswagen         1
    Gol                1
    Polaris            1
    Jmc                1
    Changhe            1
    Name: marca, dtype: int64

***Año del modelo mas vendido***

Como se observa el año que mas venden los vehiculos son del 2013, con 103.

In [ ]:
plt.figure(figsize=(10,8))
plt.title('Año del modelo mas vendido')
data_frame_test['anio'].value_counts().plot(kind='bar')
plt.savefig("C:\\Users\\Estudiante\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\04 - scrapy\\mercadolibre\\mercadolibre\\mercadolibre\\Año del modelo mas vendidos.jpg")
plt.show()

![Texto alternativo](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/master/04%20-%20scrapy/mercadolibre/mercadolibre/mercadolibre/A%C3%B1o%20del%20modelo%20mas%20vendidos.jpg?raw=true)

    anio mas vendido
    2013    103
    2011     89
    2009     87
    2014     84
    2007     79
    2019     68
    2015     64
    2012     63
    2010     60
    2008     59
    2006     55
    2018     52
    2005     41
    1995     40
    2017     35
    2004     33
    1998     26
    2002     19
    2020     16
    2003     16
    2016     15
    1994     15
    1996     14
    2001     12
    1997      9
    1999      7
    1988      7
    1993      7
    1992      7
    1990      5
    1975      3
    1984      3
    2000      3
    1982      2
    1979      2
    1989      1
    1977      1
    1976      1
    1991      1
    1972      1
    Name: anio, dtype: int64

***Kilometraje de los autos que se venden en el Ecuador***

Como se observa mas se ofertan vehiculos de 0 Km, por ende quienes mas publican la venta de los vehiculos son las consecionarias.

In [ ]:
plt.figure(figsize=(15,8))
plt.title('Kilometraje que mas se vende')
data_frame_test['kilometraje'].value_counts()[:15].plot(kind='bar')
plt.savefig("C:\\Users\\Estudiante\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\04 - scrapy\\mercadolibre\\mercadolibre\\mercadolibre\\Kilometraje que mas se vende.jpg")
plt.show()

![t](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/master/04%20-%20scrapy/mercadolibre/mercadolibre/mercadolibre/Kilometraje%20que%20mas%20se%20vende.jpg?raw=true)

***Provincias que mas venden vehiculos***

Pichincha es la provincia donde se vende mas vehiculos de todo el Ecuador

In [ ]:
plt.figure(figsize=(15,8))
plt.title('sitios que mas venden los vehiculos')
data_frame_test['lugar'].value_counts().plot(kind='bar')
plt.savefig("C:\\Users\\Estudiante\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\04 - scrapy\\mercadolibre\\mercadolibre\\mercadolibre\\sitios que mas venden los vehiculos.jpg")
plt.show()

![]()
Pichincha ( Quito )               196
Guayas                             56
Azuay                              14
Tungurahua                         13
Manabí                             12
El Oro                              8
Imbabura                            6
Cañar                               6
Chimborazo                          6
Cotopaxi                            6
Santo Domingo De Los Tsáchilas      5
Los Ríos                            4
Pastaza                             3
Loja                                2
Napo                                1
Name: lugar, dtype: int64

data_frame_test.dtypes
Out[166]: 
marca           object
titulo          object
valor          float64
anio             int64
kilometraje     object
lugar           object
dtype: object

print(data_frame_test.shape)
(1205, 6)

data_frame_test['marca'].value_counts()
Out[168]: 
Chevrolet        338
Toyota           111
Hyundai           99
Ford              84
Kia               68
Nissan            68
Mazda             61
Renault           59
Volkswagen        41
Mitsubishi        33
Chery             27
Suzuki            22
Great             19
Honda             17
Citroën           16
Jeep              16
Fiat              15
Skoda             13
Mercedes-benz     11
Daewoo            10
Peugeot            9
Chevier            8
Ssangyong          7
Bmw                6
Jac                5
International      4
Byd                4
Tianye             4
Zotye              4
Datsun             3
Talbot             3
Dongfeng           3
New                2
John               1
Multimarcas        1
Todas              1
Hino               1
Vw                 1
Lada               1
Haval              1
Scania             1
Volgswagen         1
Gol                1
Polaris            1
Jmc                1
Changhe            1
Todos              1
Seguro             1
Name: marca, dtype: int64

data_frame_test['lugar'].value_counts()
Out[169]: 
Pichincha ( Quito )               725
Guayas                            204
Manabí                             38
Azuay                              36
Tungurahua                         35
Imbabura                           30
Chimborazo                         29
Santo Domingo De Los Tsáchilas     24
El Oro                             22
Cotopaxi                           16
Loja                                9
Carchi                              7
Cañar                               6
Santa Elena                         6
Los Ríos                            5
Esmeraldas                          4
Pastaza                             3
Bolívar                             3
Napo                                2
Zamora Chinchipe                    1
Name: lugar, dtype: int64