# Proyecto de 1 Bimestre

## Ganadores de las seis Grandes Maratones Mundiales

**Descripción:** Es un Dataset con el nombre de los ganadores de las seis Grandes Maratones Mundiales, incluido el año, así como el género, el tiempo, la edad, el país del ganador y la el marathon.

### Objetivo

- Analizar y graficar la información del dataset.

### Desarrollo

#### Selección y obtención de la fuente de datos

El data se los descargo del sitio web [DATA WORLD](https://data.world/), el cual se puede encontrar miles de recursos de datos abiertos y gratuitos para trabajar.

La data seleccionada fue **Abbott World Marathon Majors Winners**:https://data.world/newns92/abbott-world-marathon-majors-winners , en el formato del archivo (csv).

#### Pre-procesamiento de la data

Primeramente se importo las siguientes libreias:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

Para la lectura de los datos se relizo con el `pd.read_csv`, mientras que lo siguiente se dio formato a los datos apartir del indice 2, ya que en esta columna se halla el año en que gano un participante y debe considerarse un tipo de dato entero.

In [ ]:
path_csv = "C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\data\\world_marathon_majors2.csv"
data_frame_test = pd.read_csv(path_csv,  encoding = 'unicode_escape',sep = ";",parse_dates=[2],infer_datetime_format=True)

Posterior se elimino los datos NAN.

In [ ]:
data_frame_test.dropna()

Posterior se separo la columna **time** en dos, una para la Fecha y otra para la hora en que llego el ganador del maraton.

In [ ]:
temp = pd.DatetimeIndex(data_frame_test['time'])
data_frame_test['Date'] = temp.date
data_frame_test['Time'] = temp.time
del data_frame_test['time']

Verificar el tipo de los datos para usarlos correctamente:

In [ ]:
data_frame_test.dtypes

    no           int64
    year         int64
    winner      object
    gender      object
    age          int64
    country     object
    time        object
    marathon    object
    dtype: object

El tamaño del dataset es:`(541, 9)`

In [ ]:
print(data_frame_test.shape)

#### Procesamiento y analisis de datos.

**Total de ganadores de los seis mundiales de maraton**

In [ ]:
print ("Han existido un total de: ",data_frame_test["winner"].size," ganadores de los seis Grandes Maratones Mundiales de la historia")
print (data_frame_test["winner"])

    Han existido un total de:  541  ganadores de los seis Grandes Maratones Mundiales de la historia`
    0            Dickson Chumba
    1            Birhane Dibaba
    2            Wilson Kipsang
    3        Sarah Chepchirchir
    4             Feyisa Lilesa
    5              Helah Kiprop
    6          Endeshaw Negesse
    7            Birhane Dibaba
    8            Dickson Chumba
    9             Tirfi Tsegaye
    10           Dennis Kimetto
    11             Aberu Kebede
    12          Michael Kipyego
    13           Atsede Habtamu
    14           Hailu Mekonnen
    15           Noriko Higuchi
    16        Masakazu Fujiwara
    17     Alevtina Biktimirova
    18            Salim Kipsang
    19          Mizuho Nasukawa
    20           Viktor Röthlin
    21           Claudia Dreher
    22            Daniel Njenga
    23             Hitomi Niiya
    24           Eliud Kipchoge
    25           Gladys Cherono
    26          Kenenisa Bekele
    27             Aberu Kebede
    28           Eliud Kipchoge
    29           Gladys Cherono
            
    511            Midde Hamrin
    512           Martín Pitayo
    513            Aurora Cunha
    514        Paul Davies-Hale
    515         Lisa Weidenbach
    516          Alejandro Cruz
    517         Lisa Weidenbach
    518                     nan
    519                     nan
    520          Toshihiko Seko
    521      Ingrid Kristiansen
    522             Steve Jones
    523             Joan Benoit
    524             Steve Jones
    525               Rosa Mota
    526             Joseph Nzau
    527               Rosa Mota
    528              Greg Meyer
    529              Nancy Conz
    530            Phil Coppess
    531              Tina Gandy
    532        Frank Richardson
    533            Sue Peterson
    534             Dan Cloeter
    535          Laura Michalek
    536          Mark Stanforth
    537            Lynae Larson
    538             Dan Cloeter
    539       Dorothy Doolittle
    540        Vivian Cheruiyot
    Name: winner, Length: 541, dtype: object`

***Top 10 de campeones de los maratones mundiales***

Como se muestra en campeon numero ***1*** es: Grete Waitz con 11 veces que ha ganado los maratones mundiales.

In [ ]:
plt.figure(figsize=(15,6))
plt.title('Top 10 de los ganadores de los maratones')
ganadores_count = data_frame_test['winner'].value_counts()[:10].sort_values().plot(kind='barh')
count_ganadores = data_frame_test['winner'].value_counts()[:10]
print(count_ganadores)
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Top 10 de los ganadores de los maratones.jpg")
plt.show()

![Texto alternativo](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Top%2010%20de%20los%20ganadores%20de%20los%20maratones.jpg?raw=true)

    Grete Waitz           11
    Bill Rodgers           8
    Ingrid Kristiansen     8
    Clarence DeMar         7
    Paula Radcliffe        7
    Uta Pippig             7
    Catherine Ndereba      6
    Eliud Kipchoge         6
    Mary Keitany           6
    Rosa Mota              6
    Name: winner, dtype: int64

***Marathones que ha ganado Greate Waitz***

Esta campeona ha ganado mas veces en el marathon mundial realizado en New York City con 9 veces campeón, y con 2 veces ganador en el mundial de London.

In [ ]:
plt.figure(figsize=(10,6))
plt.title('Maratones que ha ganado Grete Waitz')
ganadors_count = data_frame_test.marathon[data_frame_test.winner=='Grete Waitz'].value_counts().sort_values().plot(kind='barh')
count_ganador = data_frame_test.marathon[data_frame_test.winner=='Grete Waitz'].value_counts()
print(count_ganador)
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Maratones que ha ganado Grete Waitz.jpg")
plt.show()

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Maratones%20que%20ha%20ganado%20Grete%20Waitz.jpg?raw=true)

    NYC       9
    London    2
    Name: marathon, dtype: int64

***Segregación de ganadores por género***

En este caso se puede visualizar que existen más participantes hombres que mujeres, siendo un diferencia del 24%, pero la campeona como antes se visualizo que más veces ha ganado los mundiales es una mujer.

In [ ]:
genero = data_frame_test['gender'].value_counts()
tipo_genero = ['Male','Female']
plt.figure(figsize=(5,6))
plt.title('Segregación de ganadores por genero')
plt.bar(tipo_genero, genero, color = 'orangered')
for a,b in zip(tipo_genero, genero):
    plt.text(a,b,str(b),  horizontalalignment='center', fontsize=15, family = 'fantasy',fontweight = 'bold')
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Segregación de ganadores por genero.jpg")
plt.show()

print("El genero del campeon Grete Witz es:", data_frame_test.gender[data_frame_test.winner=='Grete Waitz'])

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Segregaci%C3%B3n%20de%20ganadores%20por%20genero.jpg?raw=true)

    El genero del campeon Grete Witz es: Female

***Participantes por edad de mujeres***

En este grafico se visualiza que en el top 10 de la edades de las participantes es de 40 años con un 31 veces.

In [ ]:
plt.title('Particiaciones por edad de mujeres')
edades_mujeres = data_frame_test.age[data_frame_test.gender=='Female'].value_counts()[:10].plot(kind = 'bar')
data_frame_test.age[data_frame_test.gender=='Female'].value_counts()[:10]
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Participación por edad en mujeres.jpg")
plt.show()

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Participaci%C3%B3n%20por%20edad%20en%20mujeres.jpg?raw=true)

    40    31
    30    29
    35    25
    45    18
    50    15
    20    14
    28    12
    25    12
    31    10
    22     9
    Name: age, dtype: int64

***Participantes por edad de hombres***

En este grafico se visualiza que en el top 10 de la edades de los participantes es de 53 años, con un 21,7 %.

In [ ]:
edades_hombres = data_frame_test.age[data_frame_test.gender=='Male'].value_counts()[:10]
plt.title('Particiaciones por edad de hombres')
plt.pie(edades_hombres, labels=edades_hombres,autopct="%0.1f %%")
plt.axis("equal")
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Participación por edad en hombres.jpg")
plt.show()

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Participaci%C3%B3n%20por%20edad%20en%20hombres.jpg?raw=true)

    30    53
    40    46
    35    35
    20    31
    45    25
    25    14
    28    12
    50    10
    29     9
    31     9
    Name: age, dtype: int64

***Participantes por genero y rango de edad***

Porcetanjes de participantes por rango de edad de los cuales en general son entre 18 a 25 años.

In [ ]:
edad = data_frame_test['age'].value_counts()[:10]
edadNum = [int(x) for x in edad]
#edadNum.sort()
a = 0 
b = 0 
c = 0
d = 0 
e = 0 
f = 0
for i in edadNum:
    if(i<=25):
        a = a+1
    elif(i<=35 and i>25):
        b = b+1
    elif(i<=45 and i>35):
        c = c+1
    elif(i<=55 and i>45):
        d = d+1
    elif(i<=65 and i>55):
        e = e+1
    else:
        f = f+1

edades = [a,b,c,d,e,f]
edadesCat = ['De 18 a 25 años', 'De 26 a 35 años', 'De 36 a 45 años', 
             'De 46 a 55 años', 'De 56 a 65 años', 'De 65 años en adelante']

plt.title("Porcetanjes de participantes por rango de edad")
plt.pie(edades, labels=edadesCat, autopct='%1.1f%%',
        shadow=True, startangle=90, radius = 1800)
plt.axis('equal')
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Porcetanjes de participantes por rango de edad.jpg")
plt.show()


![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Porcetanjes%20de%20participantes%20por%20rango%20de%20edad.jpg?raw=true)

***Tiempos de llegada de los participantes***

Llegan los ganadores en un promedio menor a 2h05m.

In [ ]:
tiempo = data_frame_test['Time'].value_counts()[:10]
tiemposM = ['< 2h05m', '< 2h10m', '< 2h20m', '< 2h30m', '< 2h40m', 
           '< 2h50m', '< 3h00m', '< 3h10m', '< 3h20m', '< 3h30m']
y_tiempo = np.arange(len(tiemposM))
plt.figure(figsize=(10,8))
plt.title('Tiempos de llegada de los Participantes')
plt.barh(y_tiempo, tiempo)
for i, v in enumerate(tiempo):
    plt.text(v + 3, i + .25, str(v), va='center', color='blue', fontweight='bold')
plt.yticks(y_tiempo, tiemposM)
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Tiempos de llegada de los Participantes.jpg")
plt.show()

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Tiempos%20de%20llegada%20de%20los%20Participantes.jpg?raw=true)

***Pais con mayor numero de participantes***

El pais Kenya tiene 136  participantes en los marathones mundiales, seguido de EEUU con 104, siendo paises en los cuales hay mas deportistas que ingresan a este campeonato.

In [ ]:
plt.figure(figsize=(10,8))
plt.title('Pais con mayor numero de participantes')
data_frame_test['country'].value_counts().plot(kind='bar')
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Pais con mayor numero de participantes.jpg")

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Pais%20con%20mayor%20numero%20de%20participantes.jpg?raw=true)

    Kenya             136
    United States     104
    Ethiopia           51
    Germany            36
    United Kingdom     35
    Japan              22
    Norway             20
    Canada             17
    Portugal           11
    Finland            10
    Mexico             10
    Russia              8
    Poland              8
    Brazil              7
    Italy               6
    South Africa        5
    New Zealand         5
    Morocco             5
    Belgium             5
    Tanzania            4
    South Korea         3
    Ireland             3
    Australia           3
    Sweden              2
    Latvia              2
    Romania             2
    Colombia            2
    Greece              2
    Spain               2
    Denmark             2
    Switzerland         2
    Guatemala           1
    Hungary             1
    Eritrea             1
    Soviet Union        1
    Yugoslavia          1
    China               1
    Name: country, dtype: int64

***Total de participantes ganadores por años***

En el año 2014 hubo mas participantes en los mundiales, siendo seguido en 2017

In [ ]:
plt.figure(figsize=(30,5))
plt.title("Total de Participantes por año")
ganadores_anio = data_frame_test['year'].value_counts()[:40].sort_values().plot(kind='bar')
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Total de Participantes por año.jpg")
plt.show()

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Total%20de%20Participantes%20por%20a%C3%B1o.jpg?raw=true)

***Top 10 de los marathones mundiales***

Boston es el marathon mundiales en donde ha habido mas mundiales con 176 veces.

In [ ]:
plt.title('Participantes en marathon')
data_frame_test['marathon'].value_counts().plot(kind='bar')
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\participantes en marathon.jpg")

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/participantes%20en%20marathon.jpg?raw=true)

    Boston     176
    NYC         94
    Berlin      88
    Chicago     82
    London      77
    Tokyo       24
    Name: marathon, dtype: int64

***Paises que participaron en el marathon de BOSTON***

En este caso EEUU ha sido un pais en el cual participa mas en estos eventos

In [ ]:
plt.title('ciudades que participan en Boston')
data_frame_test.country[data_frame_test.marathon=='Boston'].value_counts().plot(kind='bar')
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\ciudades que participan en Boston.jpg")

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/ciudades%20que%20participan%20en%20Boston.jpg?raw=true)

    United States     59
    Kenya             34
    Canada            17
    Ethiopia          13
    Japan              9
    Finland            7
    Germany            6
    Russia             4
    United Kingdom     3
    Portugal           3
    New Zealand        3
    South Korea        3
    Greece             2
    Norway             2
    Belgium            2
    Australia          1
    Yugoslavia         1
    Colombia           1
    Poland             1
    Sweden             1
    Guatemala          1
    Ireland            1
    Italy              1
    Name: country, dtype: int64

***Participantes de EEUU***

En este caso Bill Rodger es quien ha participado de EEUU en los maratones

In [ ]:
plt.figure(figsize=(30,8))
plt.title('Participantes de EEUU')
data_frame_test.winner[data_frame_test.country=='United States'].value_counts().plot(kind='bar')
plt.savefig("C:\\Users\\Ale\\Documents\\GitHub\\py-macas-cevallos-alexandra-vanessa\\Proyecto_1_Bimestre\\evidence\\Participantes de EEUU.jpg")

![](https://github.com/2019-B-GR1-Python/py-macas-cevallos-alexandra-vanessa/blob/desarrollo/Proyecto_1_Bimestre/evidence/Participantes%20de%20EEUU.jpg?raw=true)

    Bill Rodgers              8
    Clarence DeMar            7
    Miki Gorman               4
    Alberto Salazar           4
    Bobbi Gibb                3
    Sara Mae Berman           3
    Nina Kuscsik              3
    Joan Benoit               3
    Leslie S. Pawson          3
    Khalid Khannouchi         3
    Meb Keflezighi            2
    Greg Meyer                2
    John A. Kelley            2
    Ellison Brown             2
    Tom Fleming               2
    Lisa Weidenbach           2
    Kim Merritt               2
    Dan Cloeter               2
    Deena Kastor              2
    Laura Michalek            1
    John Lorden               1
    Michael Spring            1
    Bill Kennedy              1
    Michael J. Ryan           1
    Nancy Conz                1
    Tim Ford                  1
    Gary Muhrcke              1
    John J. Kelley            1
    Thomas Morrissey          1
    John J. McDermott         1
                             ..
    Frank Zuna                1
    Galen Rupp                1
    Joe Smith                 1
    Lynae Larson              1
    Jack Fultz                1
    Kristy Johnston           1
    Henri Renaud              1
    Jon Anderson              1
    Norbert Sander            1
    Dorothy Doolittle         1
    Sue Peterson              1
    Desi Linden               1
    Gayle Barron              1
    Phil Coppess              1
    Tina Gandy                1
    Jacqueline Hansen         1
    Lisa Larsen Weidenbach    1
    Mark Stanforth            1
    Carl Linder               1
    Charles Mellor            1
    James Henigan             1
    Frederick Lorz            1
    Dick Beardsley            1
    Norman Higgins            1
    Linda Somers              1
    Lawrence Brignolia        1
    Amby Burfoot              1
    Frank Richardson          1
    Shalane Flanagan          1
    Kathrine Switzer          1
    Name: winner, Length: 64, dtype: int64